.quest__map {
  position: relative;
  color: #3a3a3a;
}

.quest__container {
  padding: 8px;
  background-color: rgba($color: #5596fb, $alpha: 0.9);
  color: #ffffff;
  width: 140px;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 900;
  text-align: center;

  a, a:visited {
    color: #ffffff;
  }

  .quest__list__item {
    // margin-bottom: 8px;
    line-height: 30px;
    cursor: pointer;
    white-space:nowrap;
    overflow-x:scroll;
    border-bottom: 1px solid #ffffff;
  }
  .questDone {
    color: #a4a4a4;
    text-decoration: line-through;
  }
  .home {
    border: none;
    font-weight: bold;
  }
}

.focusedQuest {
  padding: 8px;
  box-sizing: border-box;
  background-color: rgba($color: #5596fb, $alpha: 0.9);
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 155px;
  width: 140px;
  z-index: 999;
  text-align: center;

  .focusedQuest__name {
    margin-bottom: 8px;
    font-weight: bold;
    white-space:nowrap;
    overflow-x:scroll;
  }
  .focusedQuest__menu {

    .focusedQuest__menu__item {
      cursor: pointer;
      padding: 4px 8px;
      border-bottom: 1px solid #ffffff;
    }
  }
  a, a:visited {
    color: #ffffff !important;
  }
}
