@font-face{
  font-family: 'NanumSquareRound';
  src: url(./assets/NanumSquareRoundR.ttf) format('truetype');
}

.App {
  font-family: 'NanumSquareRound', Arial, Helvetica, sans-serif !important;
  max-width: 720px;
  margin: auto;
  color: #777777;
}

a {
  text-decoration: none;
}
a, a:visited {
  color: #777777;
}

input, textarea {
  background-color: #ffffff;
}